window {
    margin: 5px;
    border: 1px solid #444444;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: FontAwesome;
}

@keyframes erscheinen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#input {
    margin: 5px 5px 5px;
    border: 1px solid #ffffff;
    background-color: rgba(7, 54, 66, 0.8);
    border-radius: 10px;
    color: #ffffff;
}

#inner-box {
    margin: 0px;
    border: 0px solid #000000;
    background-color: rgba(0, 0, 0, 0);
}

#outer-box {
    margin: 0px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

#scroll {
    margin: 0px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#text {
    margin: 1px;
    border: 0px solid #000000;
    color: #ffffff;
}
