* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: rgba(0, 0, 0, 0.6);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.6);
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.6);
}

#workspaces button.urgent {
    background-color: rgba(0, 0, 0, 0.6);
}

#mode {
    background-color: rgba(0, 0, 0, 0.6);
}

#clock {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

#workspaces {
    margin: 0 4px;
}

#language {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock:hover,
#language:hover {
    background: rgba(0, 0, 0, 0.4);
}
